@page
@model Academie.PawnShop.Web.Pages.Backstore.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div>
    <p>Tous les produits du pawn shop</p>
</div>

<table>
    <thead>
    <tr>
        <td>
            Nom
        </td>
        <td>
            Quantité
        </td>
        <td>
            Prix unitaire ($)
        </td>
        <td>
            Actions
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Quantity
            </td>
            <td>
                @product.Price$
            </td>
            <td>
                <a asp-page="/backstore/products/edit" asp-route-slug="@product.Id">Modifier</a>
            </td>
        </tr>
    }
    
    </tbody>
</table>

