@page
@using Web.Pages
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="clear-nav"> 
    <h1>Academie Pawn Shop</h1>
    <h3>Where you can trade all your trash for cash</h3>

    Hi, this is so lean
</div>
